<div class="carousel">
  {% assign slide_documents = site.projects | sort: 'date' | reverse | where: "is-carousel", "true" %}
  {% for slide in slide_documents %}
    <div class="carousel__cell" style="background-image: url({{slide.feature-image}})">
      <div class="row carousel__cell__text align-middle">
        <div class="small-12 medium-9 large-7 columns animated fadeInUp">
          <h1><a href="{{ slide.url }}">{{slide.carousel-text}}</a></h1>
          <p><a href="{{ slide.url }}">View Project</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>