<div class="carousel">
  {% assign slide_documents = site.carousel | sort: 'position' | where: "is-carousel", "true" %}
  {% for slide in slide_documents %}
    <div class="carousel__cell {% if slide.has_darkoverlay == true %}carousel__cell--dark{% endif %}" style="background-image: url({{slide.feature-image}})">
      <div class="row carousel__cell__text align-middle">
        <div class="small-12 medium-10 large-9 columns animated fadeInUp">
          <h1><a href="{{ slide.link }}">{{slide.carousel-text}}</a></h1>
          
          {% if slide.has-modal %}
          <p><a data-open="book-modal">Download a sample of Brand Love to find out</a></p>
          {% else %}
          <p><a href="{{ slide.link }}">View </a></p>
          {% endif %}

        </div>
      </div>
    </div>
  {% endfor %}
</div>