<div class="hero-carousel">
{% assign slide_documents = site.projects | sort: 'date' | reverse | where: "is-carousel", "true" %}
{% for slide in slide_documents %}
<div class="hero-carousel-cell tint" style="background-image: url({{slide.feature-image}})">	
	
<div class="row hero-carousel-text align-middle">
	<div class="small-12 medium-8 large-8 columns hero-carousel-text-inside">
	<h1><a href="{{ slide.url }}">{{slide.carousel-text}}</a></h1>
	<p><a href="{{ slide.url }}" class="link">Read More</a></p>
	</div>
</div>

</div>
{% endfor %}
</div>