<a href="{{ project.url }}">
  <div class="excerpt">

    <!-- Title -->
    <div class="excerpt__title wow fadeInUp">
    <h3>{{ project.excerpt-text }}</h3>
    <p><span>{{site.view_project}}</span></p>
    </div>
    <!-- End Title -->
    
    <!-- Logo -->
    <div class="excerpt__logo wow fadeInUp">
    {% if project.has-logo %}
    <svg class="icon icon-{{ project.company | slugify }} icon-company"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ project.company | slugify }}"></use></svg>
    {% else %}
    {{project.company}}
    {% endif %}
    </div>
    <!-- End Logo -->
    
    <!-- Image -->
    <div class="excerpt__image">
    <img src="{{project.image}}" alt="{{project.title}}" />
    </div>
    <!-- End Image -->

  </div>
</a>