<footer>

<!-- Top -->
<div class="row footer__top">

  <!-- Contact -->
  <div class="small-12 medium-4 columns">
    <div class="detail show-for-medium">
      Contact
    </div>
    
    <div class="footer__top__address">
      <a href="https://goo.gl/maps/Kjon8qneAZk">
      WeWork Paddington<br>2 Eastbourne Terrace<br> London W2 6LG<br>United Kingdom
      </a>
    </div>
    
    <div class="footer__top__contact">
      <a href="mailto:{{site.email}}">{{site.email}}</a>
      <a href="tel:02033188227">+44 (0)20 3318 8227</a>
    </div>
  </div>
  <!-- End Contact -->
  
  <!-- Follow -->
  <div class="small-12 medium-4 columns">
    <div class="detail show-for-medium">
      Follow
    </div>
    
    <div class="footer__top__follow">
      <a href="https://www.linkedin.com/{{site.social.linkedin}}" target="_blank">LinkedIn</a>
    </div>
  </div>
  <!-- End Follow -->
  
  <!-- Arrow -->
  <div class="small-12 medium-4 columns show-for-medium">
    <div class="detail show-for-medium text-right footer__top__arrow">
      <a href="#top"><svg class="icon icon-arrow-up8"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-up8"></use></svg></a>
    </div>
  </div>
  <!-- End Arrow -->

</div>
<!-- End Top -->

<!-- Bottom -->
<div class="row expanded footer__bottom">
  <div class="small-6 medium-6 columns text-left">
  <a href="/contact" class="underline-from-left">© {{site.company}}</a>
  </div>

  <div class="small-6 medium-6 columns text-right">
  <a href="#top"><svg class="icon icon-logo icon-logo--footer"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>
</div>
<!-- End Bottom -->

</footer>