<footer class="wow fadeIn">
<!-- Top -->
<div class="row footer__top">
  <div class="small-12 medium-4 columns">
  <div class="detail show-for-medium">Contact</div>
<a href="https://goo.gl/maps/2mbaDdFXTvL2">We Work Moorgate<br>
1 Fore St, London EC2Y 5EJ<br>
United Kingdom</a><br><br>
<a href="mailto:{{site.email}}" class="underline-from-left">{{site.email}}</a><br>
<a href="tel:02033188227">+44 (0)20 3318 8227</a>
  </div>
  
  <div class="small-12 medium-4 columns">
  <div class="detail show-for-medium">Follow</div>
  <a href="https://vimeo.com/{{site.vimeo}}" target="_blank">Vimeo</a><br>
  <a href="https://www.linkedin.com/{{site.linkedin}}" target="_blank">LinkedIn</a><br><br><br>
  <a href="https://www.linkedin.com/{{site.linkedin}}">Sign-up for Newsletter</a><br>
  </div>
</div>
<!-- End Top -->

<!-- Bottom -->
<div class="row expanded footer__bottom">
  <div class="small-6 medium-6 columns align-middle text-left">
  <a href="#" class="underline-from-left">© {{site.company}}</a>
  </div>
  
  <div class="small-6 medium-6 columns text-right">
  <a href="http://garethjohnsdesign.com">Colophon</a>
  </div>
</div>
<!-- End Bottom -->

</footer>