<div class="mailing-list" id="show-more" data-toggler data-animate="fade-in fade-out">

<form action="//earnmedia.us3.list-manage.com/subscribe/post?u=9d55e6b0c536a67f681cee1da&amp;id=4775c95d01" method="post">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <input type="email" value="" name="EMAIL" class="mailing-list-signup" id="middle-label" placeholder="We respect your privacy" required>
    </div>
    <div class="shrink columns">
<!--       <label for="middle-label" class="text-left middle mailing-list-signup-submit"><input type="submit" value="Subscribe" name="subscribe"></label> -->
      <button class="button" type="submit" value="Submit">Submit</button>
      
    </div>
  </div>
</form>

</div>
