/*! Flickity v2.0.3
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { 
	outline: none; 
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  bottom: 3.95rem;
  left: 3.95rem;
  
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  /* vertically center */
          @include breakpoint(small only) {
	display: none;
  	}
}

// .flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:hover {
  opacity: 0.6;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 3rem; }
.flickity-prev-next-button.next { left: 6rem; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
/*
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
*/
}

.flickity-prev-next-button .arrow {
  fill: $color--white;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
//   width: 100%;
  left: 3.9375rem;
  bottom: 3.9375rem;
  @include breakpoint(small only) {
     left: 2.625rem;
	bottom: 2.625rem;
  	}
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 8px;
  background: transparent;
  border: 1px solid $color--white;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  background: $color--white;
}