@font-face {
  font-family: 'Formular Light';
  src: 
  url('../fonts/formular-light.woff2') format('woff2'), 
  url('../fonts/formular-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: 
  url('../fonts/circularstd-book.woff2') format('woff2'), 
  url('../fonts/circularstd-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}