@font-face {
  font-family: 'Apercu-Regular';
  src:  url('../fonts/Apercu-Regular.woff2') format('woff2'),
        url('../fonts/Apercu-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Apercu-Medium';
  src:  url('../fonts/Apercu-Medium.woff2') format('woff2'),
        url('../fonts/Apercu-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Apercu-Bold';
  src:  url('../fonts/Apercu-Bold.woff2') format('woff2'),
        url('../fonts/Apercu-Bold.woff') format('woff');
}



$header-font-family-medium: 'Apercu-Medium', Helvetica, Roboto, Arial, sans-serif;
$header-font-family-bold: 'Apercu-Bold', Helvetica, Roboto, Arial, sans-serif;