@font-face {
  font-family: 'Apercu-Regular';
  src: url('../fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Apercu-Regular.woff') format('woff'), url('../fonts/Apercu-Regular.ttf')  format('truetype'), url('../fonts/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url('../fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Apercu-Bold.woff') format('woff'), url('../fonts/Apercu-Bold.ttf')  format('truetype'), url('../fonts/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}