//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. Navigation


// 1. Global
// ---------

body {  
  cursor: default;
}

body {
    opacity: 1;
    transition: $primary-transition;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--amber;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}

.detail {
  font-size: $small-font-size;
  font-family: $body-font-family;
}

// 2. Typography

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 3. Navigation

.navigation {
  height: 9rem;
}

.navigation__left {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 1002;
  
  a {
    color: $color--white;
    transition: $primary-transition;
  }
  
  a:hover {
    color: $color--black;
  }
  
  @include breakpoint(small only) {
    top: 2rem;
    left: 2rem;
  }
  
}

.navigation__right {
  position: absolute;
  top: 3rem;
  right: 3rem;
	z-index: 1004;

  a {
    color: $color--white;
  }

  a:hover {
  color: $color--light-gray;
  }

  @include breakpoint(small only) {
    top: 2rem;
    right: 2rem;
  }
}


.navigation--dark {
  a {
  color: $color--black;
  }
  a:hover {
  color: $color--light-gray;
  }
}


// 404

.missing {
	margin-top: 3rem;
	margin-bottom: 3rem;
	a {
    color: $color--dark-gray;
    }
    a:hover {
    color: $color--black;
    }
}

// 4. Index

.index__about {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.index__about .link {
    color: $color--amber;
    border-bottom: $color--amber 1px solid;
    padding-bottom: 0.25rem;
    transition: $primary-transition;
    &:hover {
    color: $color--black;
    padding-bottom: 0.5rem;
    }
}

.index__ventures {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.index__blog {
  background-color: $color--gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.index__blog__post {
	position:relative;
	
  	img {
      width:100%;
      opacity:0.0;
      transition: $primary-transition;
    }
    
    &:hover .excerpt__image:after {
        transition: $primary-transition;
      }
      
    &:hover .index__blog__post__title {  
        p span {
        border-bottom: $color--white 1px solid;
        padding-bottom: 0.5rem;
        } 
      } 
    &:hover img {
        opacity:1;
      }
}

.index__blog__post__title  {
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  z-index: 1;
  
    h5 {
    color: $color--white;
    transition: $primary-transition;
    }
  
    p {
    color: $color--white;
    transition: $primary-transition;
      span {
      border-bottom: $color--yellow 1px solid;
      padding-bottom: 0.25rem;
      transition: $primary-transition;
      }
    }
  
    @include breakpoint(small only) {
    padding: 2rem;
    }
}

// 5. Post 

.post {
  padding-top: 3rem;
  padding-bottom: 3rem;
   h3 {
     padding-bottom: 2rem;
   }
   h4 {
     padding-top: 2rem;
   }
   a {
     border-bottom: $color--amber 1px solid;
      padding-bottom: 0.1rem;
      transition: $primary-transition;
   }
   a:hover {
     border-bottom: $color--dark-gray 1px solid;
      padding-bottom: 0.2rem;
   }
   strong {
      font-family: $header-font-family-medium;
      color: $color--black;
   }
   img {
     padding: 1rem;
   }
}

// 6. Page

.contact {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.contact a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

// 7. Project

.project__meta {
	padding-top: 2rem;
}

.project__meta p {
	margin-bottom: 0rem;
}

.project__meta .detail {
	color: $color--dark-gray;
}

.hero {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;

    &:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    }

    &__text {
    padding: 3rem;
    height: 100%;
    @include breakpoint(small only) {
    padding: 2rem;
    }
  	}

  	&__text__inner {
    z-index: 2;
  	}
  	
  	h1 {
    font-family: $header-font-family-medium;
    color: $color--white;
    }

    h3 {
    font-family: $header-font-family;
    color: $color--amber;
    }
}

.hero--blog {
  height: 60vh;
    h2 {
    font-family: $header-font-family-medium;
    color: $color--white;
    }
    a {
    font-family: $header-font-family-medium;
    color: $color--white;
    }
}

.hero__date {
  font-family: $header-font-family-medium;
  color: $color--amber;
}


.project__image__second {
	@include breakpoint(small only) {
    padding-top: 1rem;
    }
}


.project__content {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.project__images img {
  padding-bottom: 2rem;
}

.project__content a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

.project__step {
  padding-bottom: 2rem;
}

.project__share {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.project__share__bottom {
	padding-top: 2rem;
}

.project__pagination {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

// 8. Pagination

.callout--pagination {
  border: 2px solid $color--amber;
  padding: 2rem 2rem 1rem 2rem;
}

.pagination {
  background-color: $color--lighter-gray;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  @include float;
  &:hover {
    background-color: $color--black;
  }
}


// 9. Excerpt

.excerpt {
	position:relative;
	
  	img {
      width:100%;
    }
    
    &:hover .excerpt__image:after {
        background:$color--amber;
        opacity:0.9;
        transition: $primary-transition;
      }
      
    &:hover .excerpt__title {
        h3 {
        color: $color--black;
        }
  
        p span {
        border-bottom: $color--black 1px solid;
        padding-bottom: 0.5rem;
        } 
      } 
}

.excerpt__title {
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 3rem;
  z-index: 1;
  
    h3 {
    color: $color--white;
    transition: $primary-transition;
    }
  
    p {
    color: $color--white;
    transition: $primary-transition;
      span {
      border-bottom: $color--yellow 1px solid;
      padding-bottom: 0.25rem;
      transition: $primary-transition;
      }
    }
  
    @include breakpoint(small only) {
    padding: 2rem;
    }
}

.excerpt__logo {
  color: $color--white;
  position:absolute;
  bottom: 0rem;
  left: 0rem;
  padding: 0rem 0rem 1rem 3rem;
  z-index: 1;  
    @include breakpoint(small only) {
    padding: 2rem;
    }
}


.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  opacity:0.25;
}


// 10. About

.about__content {
	font-family: $header-font-family;
	font-size: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint(small only) {
	padding-top: 2rem;
	padding-bottom: 2rem
  	}
}

.about__cv {
	font-family: $header-font-family;
	font-size: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint(small only) {
	padding-top: 2rem;
	padding-bottom: 2rem
  	}
}

.about_book {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

// 11. Footer

footer {
	background-color: $color--lighter-gray;
	color: $color--dark-gray;
	padding: 3rem;
	a {
    color: $color--black;
    display: block;
    }
  @include breakpoint(small only) {
	padding: 2rem;
  }
}

.footer__top {
	padding-top: 2rem;
	padding-bottom: 3rem;
	font-size: 1rem;
}

.footer__top__address {
  padding-bottom: 1rem;
}

.footer__top__contact {
  padding-bottom: 1rem;
}

.footer__top__follow__newsletter {
	padding-top: 2rem;
}

.footer__top__arrow {
  a {
    color: $color--dark-gray;
    }
    a:hover {
    color: $color--black;
    }
}

footer .detail {
	padding-bottom: 1rem;
}

.footer__bottom {
	a {
    color: $color--dark-gray;
    }
}

// 12. Carousel

.carousel {
  height: 85vh;
}

.carousel__cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;

    a {
      font-family: $header-font-family-medium;
      color: $color--white;
      &:hover {
        color: $color--amber;
      }
    }

    &:before {
      position: absolute;
      content:" ";
      top:0;
      left:0;
      width:100%;
      height:100%;
      display: block;
      z-index:0;
      background-color: rgba(0,0,0,0.0);
    }
    
    &__text {
      padding: 3rem;
      height: 100%;
      @include breakpoint(small only) {
      padding: 2rem;
      }
    }
      
    p a {
      border-bottom: $color--white 1px solid;
      padding-bottom: 0.25rem;
      color: $color--white;
      transition: $primary-transition;
      &:hover {
        color: $color--amber;
        padding-bottom: 0.5rem;
      }
    }
}

.carousel__cell--light:before {
   background-color: rgba(0,0,0,0.1);
}

.carousel__cell--dark:before {
   background-color: rgba(0,0,0,0.3);
}

#carousel__book__button {
  font-family: $body-font-family;
  font-size: 1.25rem;
}

.hero-arrow {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	z-index: 5000;
	font-family: $header-font-family;
	font-size: 1.5rem;
	a {
    color: $color--white;
    }
    a:hover {
    color: $color--light-gray;
    }
}


.hero-wrapper {
	position: relative;
}

// 13. Contact
.contact-new-business {
	border-top: solid 1px $color--light-gray;
	padding-top: 3rem;
}

.embed-container-small {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container-small iframe,.embed-container-small object,.embed-container-small embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container-medium {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container-medium iframe,.embed-container-medium object,.embed-container-medium embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.location-details {
    padding-top: 2rem;
}

.maps iframe{
    pointer-events: none;
}

// 14. Mailing List

.mailing-list {
	padding: 3rem;
	@include breakpoint(small only) {
	padding: 2rem;
  	}
	display: none;
}
 
.mailing-list-signup {
margin-bottom: 0rem;
}

label.middle {
margin-bottom: 0rem;
padding-bottom: 0rem;
}

// Book

.hero--book {
    height: 70vh;
    background-position: center center;
  

    &:before {
    background-color: rgba(0,0,0,0.0);
}

}

.hero__text__inner--book h3 a {
      color:$color--white;
      border-bottom: $color--white 1px solid;
  }
  
.hero__text__inner--book p a {
      border-bottom: $color--white 1px solid;
      padding-bottom: 0.25rem;
      color: $color--white;
      transition: $primary-transition;
      &:hover {
        color: $color--amber;
        padding-bottom: 0.5rem;
      }
    }

.book {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.book__section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $color--gray;
}

.book__section--first {
  padding-top: 0rem;
}

.book__section--last {
  padding-bottom: 0rem;
  border-bottom: 0px solid $color--gray;
}


.points h5 {
  color: $color--dark-gray;
  padding-bottom: 1rem;
}

.point {
  margin: 0 0 1rem;
padding: 0.5625rem 1.25rem 0 1.1875rem;
border-left: 2px solid $color--amber;
}


#map {
        height:50vh;
        width:100%;
}

// People

.people__key {
  background-color: $color--dark-gray;
}

.people__friends {
  background-color: $color--dark-gray;
}

.people__key__intro {
  padding: 1rem 3rem 3rem 3rem;
    @include breakpoint(small only) {
    padding: 2rem;
    }
}

.people__friends__intro {
  padding: 3rem;
    @include breakpoint(small only) {
    padding: 2rem;
    }
}

.person__reveal a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

.person__reveal h5 {
  color: $color--amber;
}