//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   5. Animations
//   6. Navigation
//   7. Lightgallery
//   8. Sections
//   9. Section One
//   10. Section Two
//   11. Section Three
//   12. Footer


// 1. Mixins
// ---------



@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin link-underline($color, $size, $duration, $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

.page {
	overflow-x: hidden;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

h1, h2, h3, h4, h5, h6, p {
  transition: $primary-transition;
}

.underline {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1 {
  font-family: $secondary-font-family;
  line-height: 1;
}

.active {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}
  

// 5. Animations
// -------------

// 6. Navigation
// -------------

.navigation .menu a {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

// 8. Sections
// -----------

section {
  padding-top: 5vh;
  padding-bottom: 10vh;
  position: relative;
}

section .vertical.menu li {
  padding-bottom: 1rem;
}

// 9. Section One
// --------------

.section-one__shape {
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  z-index: -10;
}

// 10. Section Two
// ---------------

.section-two__shape {
  position: absolute;
  top: 10vh;
  right: 5vw;
  z-index: -10;
}

.section-two__diagram {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  z-index: -10;
}

// 11. Section Three
// -----------------

.section-three__shape {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  z-index: -10;
}

// 11. Section Four
// -----------------

.section-four__shape {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  z-index: -10;
}

// 7. Projects
// ----------

.projects__list a {
  display: block;
  width: 100%;
  position: relative; 
}
    
.projects__list a:hover img {
  filter: saturate(0%) brightness(50%); 
}
    
.projects__list a img {
  transition: $primary-transition;
  display: block;
}

.projects__list a .item__title {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 2rem;
  color: $white;
  line-height: 1;
}

.projects__list a .item__title h1 {
  color: $white;
  line-height: 1;
}

// 12. Footer
// ---------


// X. Home
// ------

.info__map {
  @include breakpoint(small) {
  height: 15rem;
  }
  @include breakpoint(medium) { 
  height: 30rem;
  }
}


.changeColor {
   background: white;
}