---
layout: light
---

<!-- Hero -->
<div class="project__hero tint" style="background-image: url({{page.feature-image}})">	
<div class="row hero-carousel-text align-middle">
	<div class="small-12 medium-8 large-8 columns hero-carousel-text-inside">
	<h1><a href="{{ slide.url }}">{{page.carousel-text}}</a></h1>
	<h3>{{page.company}}</a></h3>
	</div>
</div>
</div>
<!-- End Hero -->

<!-- Content -->
<div class="row project__content">
	<div class="small-11 medium-10 large-7 column">
		{{ content }}
	</div>
</div>
<!-- End Content -->
