---
layout: light
---

<!-- Hero -->
<div class="hero" style="background-image: url({{page.feature-image}})">	
  <div class="row hero__text align-middle">
    <div class="small-12 medium-8 large-6 columns hero__text__inner">
      <h1>Brand Love</h1>
    </div>
  </div>
</div>
<!-- End Hero -->


<div class="project__content">

<!-- What We Do -->
<div class="row project__results project__step align-justify">
	<div class="small-12 medium-6 large-5 columns">
	<h3>What is Brand Love?</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
	<h5>There are 18,000,000 photos on Instagram tagged #starbucks. Not one is paid for by Starbucks</h5>
	<h5>When Chinese mobile brand Xiaomi launched their new tablet, stock sold out in 2.7 seconds</h5>
	<h5>Monster Energy drinks has become the most successful energy drinks brand in the US, without a single dollar spent on advertising</h5>
	<h5>LEGO continues to defy critics and analyst expectations selling billions of dollars of analog toys in the digital age</h5>
	<p>All these stories are made possible by Brand Love</p>
	</div>
</div>
<!-- End What We Do -->

<!-- Intro -->
<div class="row project__results project__step align-right">
	<div class="small-12 medium-10 large-10 columns">

	<p>Fans don't just "like" these brands, they love them. And the good news is that it's neither expensive or exclusive to cool cutting-edge brands. Brand Love is as achievable to all brands. Whether you're an airline or selling energy drinks, Brand Love is a guide to help you build a brand worth talking about.</p>

<p>Written by an ex-telecoms CEO, the head of marketing for one of the world's fastest growing soda brands and a digital anthropologist, Brand Love is a journey that takes you around the world from the US to China in search of the brands both fans and industry analysts are talking about.</p>
	</div>
</div>
<!-- End Intro -->

<hr>


<!-- What We Do -->
<div class="row project__results project__step align-justify">
	<div class="small-12 medium-6 large-5 columns">
	<h3>What Questions does this Book Answer?</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
	<h5>What is Brand Love?</h5>
	<h5>Why do some brands have it while others are just liked?</h5>
	<h5>How can you replicate their success formula?</h5>
	</div>
</div>
<!-- End What We Do -->

<!-- Intro -->
<div class="row project__results project__step align-right">
	<div class="small-12 medium-10 large-10 columns">

	<p>Brand Love answers these 3 questions through case studies of brands doing it right; brands well-adapted to the digital age; brands that can build billion dollar market caps without significant sums spent on advertising; and brands that defy the expectations of both investors and their category by breaking all the rules.</p>
	</div>
</div>
<!-- End Intro -->

<hr>

<!-- What We Do -->
<div class="row project__results project__step align-justify">
	<div class="small-12 medium-6 large-5 columns">
	<h3>Brands Featured in this Book</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
	<p>7-11, Amazon, Apple, Best Buy, British Airways, Chipotle Mexican Grill, Converse, Cisco, Coke, Delta, Disney, Ford, GoPro, Kodak, LEGO, Mattel, McDonalds, Microsoft, Minecraft, Monster Energy Drinks, Nokia, Pepsi, Pure Digital, Red Bull, Samsung, Shake Shack, Skinny Mobile, Southwest Airlines, Starbucks, Wahoo's Fish Tacos, Xiaomi, Zappos.</p>
	</div>
</div>
<!-- End What We Do -->



</div>

