---
layout: light
---

<!-- Hero -->
<div class="hero hero--book" style="background-image: url({{page.feature-image}})">	
  <div class="row hero__text align-middle">
    <div class="small-12 medium-6 large-4 columns hero__text__inner  hero__text__inner--book">
      <h1>{{page.hero-title}}</h1>
      <h3><a data-open="book-modal">{{page.hero-subtitle}}</a></h3>
    </div>
  </div>
</div>
<!-- End Hero -->


<!-- Book Content -->
<div class="book">

<!-- What is Brand Love -->
<div class="row book__section book__section--first align-justify">

<!-- Left -->
<div class="small-12 medium-6 large-4 columns">
  <h3>{{page.what-is-title}}</h3>
</div>
<!-- End Left -->

<!-- Right -->
<div class="small-12 medium-6 large-7 columns">
<!-- Points -->
<div class="points">
{% for point in page.what-is-points %}
  <div class="point"><h5>{{ point }}</h5></div>
{% endfor %}
</div>
<p>All these stories are made possible by Brand Love</p>
<!-- End Points -->

<!-- Explained -->
<div class="explained">
  <hr>
<p>{{page.what-is-text}}</p>
</div>
<!-- End Explained -->
</div>
<!-- End Right -->

</div>
<!-- End What is Brand Love -->

<!-- What Questions does this Book Answer -->
<div class="row book__section align-justify">

<!-- Left -->
<div class="small-12 medium-6 large-4 columns">
  <h3>{{page.what-questions-title}}</h3>
</div>
<!-- End Left -->

<!-- Right -->
<div class="small-12 medium-6 large-7 columns">
<!-- Points -->
  <div class="points">
    
{% for point in page.what-questions-points %}
  <div class="point"><h5>{{ point }}</h5></div>
{% endfor %}
    
  </div>
<!-- End Points -->

<!-- Explained -->
<div class="explained">
  <hr>
  <p>{{page.what-questions-text}}</p>
</div>
<!-- End Explained -->
</div>
<!-- End Right -->

</div>
<!-- End What Questions does this Book Answer -->


<!-- Brands Featured -->
<div class="row book__section align-justify">

<!-- Left -->
<div class="small-12 medium-6 large-4 columns">
  <h3>{{page.brands-title}}</h3>
</div>
<!-- End Left -->

<!-- Right -->
<div class="small-12 medium-6 large-7 columns">
<!-- Explained -->
<div class="explained">
<p>{{page.brands-text}}</p>
</div>
<!-- End Explained -->
</div>
<!-- End Right -->

</div>
<!-- End Brands Featured -->

<!-- Book Request -->
<div class="row book__section book__section--last align-justify">

<!-- Left -->
<div class="small-12 medium-6 large-4 columns">
  <h3>{{page.complimentary-title}}</h3>
  <p>{{page.complimentary-text}}</p>
  <span class="asterisk">* denotes required field</span>
</div>
<!-- End Left -->

<!-- Right -->
<div class="small-12 medium-6 large-7 columns">
{% include bookrequest.html %}
</div>
<!-- End Right -->

</div>
<!-- End Book Request -->

</div>
<!-- End Book Content -->

{% include book-modal.html %}