---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

<div class="page">

<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation-->

{{content}}

<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</div>
</body>

</html>