<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

{% if page.url == "/" %}
<body id="top">
{% else %}
<body id="top" class="animated fadeIn">
{% endif %}
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

<!-- Menu -->  
{% include overlay-menu.html %}
<!-- End Menu --> 

<!-- Content -->  
{{ content }}
<!-- End Content --> 

<!-- Mailing List -->  
{% include mailinglist.html %}
<!-- End Mailing List -->  

<!-- Footer -->  
{% include footer.html %}
<!-- End Footer -->  
  
  
</body>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</html>
