---
layout: default
---

<!-- One -->
<section class="section-one">
  
      <div class="grid-container">
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-10 small-offset-1 medium-8 medium-offset-1 large-8 large-offset-2 cell">
              <h1>{{page.hero-title-text}}</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-10 small-offset-1 medium-7 medium-offset-3 large-7 large-offset-4 xxlarge-offset-5 cell">
              <h2>{{page.hero-text}}</h2>
          </div>
        </div>
        
      </div>
      
      <div class="section-one__shape rellax" data-rellax-speed="2">
          <svg class="icon icon-triangle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-triangle"></use></svg>
      </div>

</section>
<!-- End One -->

<!-- Two -->
<section class="section-two">
  
      <div class="grid-container">
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-10 small-offset-1 medium-8 medium-offset-1 large-8 large-offset-2 cell">
              <h1>{{page.process-title-text}}</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-10 small-offset-1 medium-7 medium-offset-3 large-7 large-offset-4 xxlarge-offset-5 cell">
              
              <ul class="vertical menu">
              <li>
              <h3>Revenue</h3>
              <h3>Something people are willing to invest in.</h3>
              </li>
              
              <li>
              <h3>Shareability</h3>
              <h3>Earns word of mouth and organic growth.</h3>
              </li>
              
              <li>
              <h3>Longevity</h3>
              <h3>Built to have lasting cultural relevance.</h3>
              </li>
              </ul>
            
          </div>
        </div>
        
      </div>
      
      <div class="section-two__shape rellax" data-rellax-speed="1">
        <svg class="icon icon-moon"><use xlink:href="/assets/icons/symbol-defs.svg#icon-moon"></use></svg>
      </div>
      
      <div class="section-two__diagram rellax show-for-medium" data-rellax-speed="-1">
        <svg class="icon icon-diagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-diagram"></use></svg>
      </div>

</section>
<!-- End Two -->


<!-- Three -->
<section class="section-three">
  
      <div class="grid-container">
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-10 small-offset-1 medium-8 medium-offset-1 large-8 large-offset-2 cell">
              <h1>{{page.about-title-text}}</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-10 small-offset-1 medium-7 medium-offset-3 large-7 large-offset-4 xxlarge-offset-5 cell">
              <h2>{{page.about-text}}</h2>
          </div>
        </div>
        
      </div>
      
      <div class="section-three__shape rellax" data-rellax-speed="-1">
          <svg class="icon icon-rectangle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-rectangle"></use></svg>
      </div>

</section>
<!-- End Three -->


<!-- Four -->
<section class="section-four">
  
      <div class="grid-container">
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-10 small-offset-1 medium-8 medium-offset-1 large-8 large-offset-2 cell">
              <h1>{{page.projects-title-text}}</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-10 small-offset-1 medium-7 medium-offset-3 large-7 large-offset-4 xxlarge-offset-5 cell">
              
              <ul class="vertical menu">
              <li>
              <h3>Diageo</h3>
              <h3>Disrupting the drinks industry across Europe →</h3>
              </li>
              
              <li>
              <h3>EE</h3>
              <h3>The world’s first mobile network run by YouTubers →</h3>
              </li>
              
              <li>
              <h3>Huel</h3>
              <h3>Powering the future of food →</h3>
              </li>
              </ul>
              
              <a href="/projects" class="underline">View All</a>
            
          </div>
        </div>
        
      </div>
      
      <div class="section-four__shape rellax" data-rellax-speed="1">
        <svg class="icon icon-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-circle"></use></svg>
      </div>

</section>
<!-- End Four -->
