---
layout: default
---

<!-- Hero Wrapper -->
<div class="hero-wrapper">

<!-- Navigation -->
<div class="navigation navigation-white row expanded">
	
	<div class="text-left small-6 columns">
		<a href="/">{{ site.title }}</a>
	</div>
	
	<div class="text-right small-6 columns">
		<button class="hamburger hamburger--collapse" id="menuBar" data-toggler=".is-active" type="button" data-toggle="menuBar offCanvasRight">
		<span class="hamburger-box">
		<span class="hamburger-inner"></span>
		</span>
		</button>
	</div>
	
</div>
<!-- End Navigation -->

<!-- Carousel -->
<div class="hero-carousel">
{% assign slide_documents = site.projects | sort: 'date' | reverse | where: "is-carousel", "true" %}
{% for slide in slide_documents %}
<div class="hero-carousel-cell" style="background-image: url({{slide.feature-image}})">	
	
<div class="row hero-carousel-text align-middle">
	<div class="shrink columns">
	<h1><a href="{{ slide.url }}">{{slide.carousel-text}}</a></h1>
	</div>
</div>

</div>
{% endfor %}

</div>
<!-- End Carousel -->


</div>
<!-- End Hero Wrapper -->


<div class="row">
  <div class="small-10 columns">
	  <h2>We are a modern brand3 innovation agency, our mission is to move brands from like to love, turn customers into fans and ideas into revenue</h2>
  </div>
</div>
