---
layout: light
---

<!-- Carousel -->
{% include carousel.html %}
<!-- End Carousel -->

<!-- About -->
<div class="row index__about">
  <div class="small-12 medium-10 large-9 columns wow fadeIn">
    <h3>{{page.about-text}}</h3>
    <p><a href="/about" class="link">Find out more</a></p>
  </div>
</div>
<!-- End About -->

<!-- Projects -->
<div class="row expanded collapse small-up-1 medium-up-2">
  {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
  {% for project in projects limit:9 %}
    <div class="columns">
    {% include excerpt.html %}
    </div>
  {% endfor %}
</div>
<!-- End Projects -->

<!-- Ventures About -->
<div class="row index__ventures">
  <div class="small-12 medium-10 large-9 columns wow fadeIn">
    <h3>{{page.ventures-about-text}}</h3>
  </div>
</div>
<!-- End Ventures About -->

<!-- Ventures -->
<div class="row expanded collapse small-up-1 medium-up-2">
  {% assign projects = site.ventures | sort: 'date' | reverse | where: "is-featured", "true" %}
  {% for project in projects limit:9 %}
    <div class="columns">
    {% include excerpt-venture.html %}
    </div>
  {% endfor %}
</div>
<!-- End Ventures -->