---
layout: default
---

<!-- Navigation -->
<div class="navigation-left">
<a href="/"><svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg></a>
</div>

<div class="navigation-right">
<button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="overlay toggle">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</button>
</div>
<!-- End Navigation -->

<!-- Carousel -->
{% include carousel.html %}
<!-- End Carousel -->

<!-- About -->
<div class="row index-about-text">
  <div class="small-10 columns wow fadeIn">
	  <h2>{{page.about-text}}</h2>
	  <p><a href="/about" class="link">Read More</a></p>
  </div>
</div>
<!-- End About -->


<!-- Content -->
<!-- <section class="index__content"> -->
	<div class="row expanded collapse">
		{% assign projects = site.projects | sort: 'date' | reverse | where: "is-featured", "true" %}
		{% for project in projects limit:9 %}
		<div class="small-12 medium-6 large-6 columns">
		{% include excerpt.html %}
		</div>
		{% endfor %}
	</div>
<!-- </section> -->
<!-- End Content -->