---
layout: dark
---

<!-- Key People Intro -->
<div class="row people__key__intro">
  <div class="small-12 medium-10 large-9 columns wow fadeIn">
    <h3>Key People</h3>
  </div>
</div>
<!-- End Key People Intro -->

<!-- Key People -->
<div class="row expanded collapse small-up-1 medium-up-2 large-up-3 people__key">
  {% assign people = site.people | sort: 'position' %}
  {% for person in people %}
    <!-- Person -->
    <div class="column">
      <a data-toggle="{{ person.title | slugify }}">
      <div class="excerpt">
      <!-- Title -->
      <div class="excerpt__title wow fadeInUp">
      <h3>{{ person.title }}</h3>
      <p><span>{{person.job-title}}</span></p>
      </div>
      <!-- End Title -->
      
      <!-- Image -->
      <div class="excerpt__image">

{% if person.image %}
<img src="{{person.image}}" alt="{{person.title}}" />
{% else %}
<img src="/uploads/blank.svg" alt="{{person.title}}" />
{% endif %}

      </div>
      <!-- End Image -->
      </div>
      </a>
    </div>
    <!-- End Person -->
<!-- Reveal -->
<div class="reveal person__reveal" id="{{ person.title | slugify }}" data-reveal>
  <h3>{{ person.title }}</h3>
  <h5>{{ person.job-title }}</h5>
  <p>{{ person.content }}</p>
  <a href="{{person.link}}" target="_blank">{{person.link-title}}</a><br>
  <a href="https://www.linkedin.com/in/{{ person.linkedin }}" target="_blank">LinkedIn</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>    
<!-- End Reveal -->
  {% endfor %}
</div>
<!-- End Key People -->

<!-- Friends Intro -->
<div class="row people__friends__intro">
  <div class="small-12 medium-10 large-9 columns wow fadeIn">
    <h3>Friends of EARN</h3>
    <p>We work with an extended network of inspiring collaborators from around the world who are the best and brightest at what they do. We work with each of them on a project-by-project basis, to ensure that each team we allocate to a project from your brand is exactly the right fit. Here’s a few of them…</p>
  </div>
</div>
<!-- End Friends Intro -->

<!-- Friends -->
<div class="row expanded collapse small-up-1 medium-up-2 large-up-3 people__friends">
  {% assign friends = site.friends | sort: 'position' %}
  {% for friend in friends %}
    <!-- Friend -->
    <div class="column">
              
      <a href="{{ friend.link }}" target="_blank">  
      <div class="excerpt">
      <!-- Title -->
      <div class="excerpt__title wow fadeInUp">
      <h3>{{ friend.title }}</h3>
      </div>
      <!-- End Title -->
      
      <!-- Image -->
      <div class="excerpt__image">

{% if friend.image %}
<img src="{{friend.image}}" alt="{{friend.title}}" />
{% else %}
<img src="/uploads/blank.svg" alt="{{friend.title}}" />
{% endif %}

      </div>
      <!-- End Image -->
      </div>
      </a>
    </div>
    <!-- End Friend -->
  {% endfor %}
</div>
<!-- End Friends -->