---
layout: light
---

<!-- Hero -->
<div class="hero hero--blog" style="background-image: url({{page.image}})">
  <div class="row hero__text align-middle align-center">
    <div class="small-12 medium-10 large-10 columns hero__text__inner">
      <h2>{{ page.title }}</h2>
      {% assign author = site.data.authors[page.author] %}
      {% if author %}
        <a href="mailto:{{ author.email }}">{{ author.name }}</a>
      {% endif %}
      <div class="hero__date">
        {{ page.date | date: site.date_format }}
      </div>
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}"><svg class="icon icon-arrow-left8"><use xlink:href="#icon-arrow-left8"></use></svg></a>
      {% endif %}
      {% if page.next.url %}
      <a class="next text-right" href="{{page.next.url}}"><svg class="icon icon-arrow-right8"><use xlink:href="#icon-arrow-right8"></use></svg></a>
      {% endif %}
    </div>
  </div>
</div>
<!-- End Hero -->

<div class="post">

<!-- Content -->
<div class="row align-center">
	<div class="small-10 medium-8 large-6 columns">
		{{ content }}
	</div>
</div>
<!-- End Content -->

</div>

<!-- Share -->
<div class="row project__share align-center">
  <div class="shrink columns">
    <ul class="menu simple">
      {% include sharing.html %}
    </ul>
  </div>
</div>
<!-- End Share -->

<!-- Pagination -->
<div class="project__pagination">
  <div class="row">
    
    <div class="small-6 columns">
    {% if page.previous.url %}
    <p><a class="prev" href="{{page.previous.url}}"><svg class="icon icon-arrow-left8"><use xlink:href="#icon-arrow-left8"></use></svg> Previous</a></p>
    <p class="hide-for-small-only"><a class="dark-gray prev" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
    {% endif %}
    </div>

    
    <div class="small-6 columns text-right">
    {% if page.next.url %}
    <p><a class="next text-right" href="{{page.next.url}}">Next <svg class="icon icon-arrow-right8"><use xlink:href="#icon-arrow-right8"></use></svg></a></p>
    <p class="hide-for-small-only"><a class="dark-gray next text-right" href="{{page.next.url}}">{{page.next.title}}</a></p>
    {% endif %}
    </div>
    
  </div>
</div>
<!-- End Pagination -->