---
layout: default
---


<!-- One -->
<section class="section-one">
  
      <div class="grid-container">
        
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-10 small-offset-1 medium-8 medium-offset-1 large-8 large-offset-2 cell">
              <h1>{{page.projects-title-text}}</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-10 small-offset-1 medium-8 medium-offset-3 large-6 large-offset-4 xxlarge-offset-5 cell">
              <h2>{{page.projects-text}}</h2>
          </div>
        </div>
        
      </div>
      
</section>
<!-- End One -->

<!-- Projects -->
<div class="grid-container">
  <div class="grid-x">
    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for project in projects %}
      <div class="small-12 cell projects__list" data-aos="fade-in">
      {% include item.html %}
      </div>
    {% endfor %}
  </div>
</div>
<!-- End Projects -->
