---
layout: light
---

<!-- Hero -->
<div class="hero" style="background-image: url({{page.feature-image}})">	
<div class="row hero__text align-middle">
	<div class="small-12 medium-8 large-7 columns hero__text__inner animated fadeInUp">
	<h1>{{page.carousel-text}}</h1>
	<h3>{{page.company}}</h3>
	</div>
</div>
</div>
<!-- End Hero -->

<!-- Content -->
<div class="project__content">
	
<!-- Brief -->
<div class="row project__brief project__step">
	<div class="small-12 medium-6 large-6 columns">
	<h3>Brief</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
		{{ page.brief-text }}
	</div>
</div>
<!-- End Brief -->

{% if page.brief-image-one %}
<!-- Video -->
<div class="row project__image project__step align-left">
<div class="small-12 medium-6 large-6 columns">
<img src="{{page.brief-image-one}}" alt="{{ page.title }}" />
</div>
{% if page.brief-image-two %}
<div class="small-12 medium-6 large-6 columns project__image__second">
<img src="{{page.brief-image-two}}" alt="{{ page.title }}" />
</div>
{% endif %}
</div>
<!-- End Video -->
{% endif %}

<!-- Solution -->
<div class="row project__solution project__step">
	<div class="small-12 medium-6 large-6 columns">
	<h3>Solution</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
		{{ page.solution-text }}
	</div>
</div>
<!-- End Solution -->

{% if page.video %}
<!-- Video -->
<div class="row project__video project__step align-right">
<div class="small-12 medium-10 large-8 columns">
	<div class="flex-video widescreen vimeo">
	  <iframe src="https://player.vimeo.com/video/{{ page.video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
</div>
<!-- End Video -->
{% endif %}


<!-- Results -->
<div class="row project__results project__step">
	<div class="small-12 medium-6 large-6 columns">
	<h3>Results</h3>
	</div>
	<div class="small-12 medium-6 large-6 columns">
		{{ page.results-text }}
	</div>
</div>
<!-- End Results -->

{% if page.quote %}
<!-- Quote -->
<div class="row project__brief project__step align-left">
	<div class="small-12 medium-10 large-8 columns">
		<blockquote>
		  <h3>{{ page.quote }}</h3>
		  <cite>{{ page.quote-cite }}</cite>
		</blockquote>
	</div>
</div>
<!-- End Quote -->
{% endif %}


</div>
<!-- End Content -->



<!-- Share -->
<div class="row project__share align-center">
	<div class="shrink columns">
		<ul class="menu simple">
			{% include sharing.html %}
	  	</ul>
	</div>
</div>
<!-- End Share -->

<!-- Pagination -->
<div class="project__pagination">
	<div class="row">
		
		<div class="small-6 columns">
		{% if page.previous.url %}
		<div class="callout--pagination">
		<p><a class="prev" href="{{page.previous.url}}"><svg class="icon icon-arrow-left8"><use xlink:href="#icon-arrow-left8"></use></svg> Previous</a></p>
		<p class="hide-for-small-only"><a class="dark-gray prev" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
		</div>
		{% endif %}
		</div>

		
		<div class="small-6 columns text-right">
		{% if page.next.url %}
		<div class="callout--pagination">
		<p><a class="next text-right" href="{{page.next.url}}">Next <svg class="icon icon-arrow-right8"><use xlink:href="#icon-arrow-right8"></use></svg></a></p>
		<p class="hide-for-small-only"><a class="dark-gray next text-right" href="{{page.next.url}}">{{page.next.title}}</a></p>
		</div>
		{% endif %}
		</div>
		
	</div>
</div>
<!-- End Pagination -->