---
layout: default
---

<!-- Projects -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell" data-aos="fade-in">
      <h1>{{page.description}}</h1>
    </div>
  </div>
  
  <div class="grid-x align-center">
    <div class="small-12 medium-12 cell" data-aos="fade-in">
      <img src="{{ page.image }}" alt="{{page.title}}">
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell" data-aos="fade-in">
      <h3>Brief</h3>
      {{page.brief}}
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell" data-aos="fade-in">
      <h3>Solution</h3>
      {{page.solution}}
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell" data-aos="fade-in">
      <h3>Results</h3>
      {{page.results}}
    </div>
  </div>
  
</div>
<!-- End Projects -->
