---
layout: default
---

<!-- Projects -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center" data-aos="fade-in">
      <h1>{{page.description}}</h1>
    </div>
  </div>
  

  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-10 large-9 cell">
      {% if page.video %}
    	<div class="responsive-embed widescreen">
    	   <iframe src="https://player.vimeo.com/video/{{ page.video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    	</div>
    	{% else %}
    	<img src="{{ page.secondary-image}}" alt="{{page.title}}">
    	{% endif %}
    </div>
  </div>


  
  {% if page.brief %}
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 large-8 cell" data-aos="fade-in">
      <h3>Brief</h3>
      {{page.brief}}
    </div>
  </div>
  {% endif %}
  
  {% if page.solution %}
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 large-8 cell" data-aos="fade-in">
      <h3>Solution</h3>
      {{page.solution}}
    </div>
  </div>
  {% endif %}
  
  {% if page.results %}
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 large-8 cell" data-aos="fade-in">
      <h3>Results</h3>
      {{page.results}}
    </div>
  </div>
  {% endif %}

  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 large-8 cell" data-aos="fade-in">
      {{page.content}}
    </div>
  </div>

{% if page.previous %}
<div class="grid-x grid-padding-x align-center">
  <div class="shrink cell text-center">
    <h3><a href="{{page.previous.url}}">Next</a></h3>
    <a href="{{page.previous.url}}">
    {{page.previous.title}}
    </a>
  </div>
</div>
{% endif %}

  
</div>
<!-- End Projects -->
